:root {
    --blue-blue400: #425DF9;
    --blue-blue900: #002A67;
    --blue-blue500: #2A43AB;
    --blue-blue200: #7A9AE3;
    --blue-blue100: #F4F6FF;
    --blue-blue50: #E4EEFF;
    --torque-torque500: #00DFD4;
    --basic-white500: #FFFFFF;
    --basic-black500: #000000;
    --basic-gray400: #999898;
    --basic-gray200: #DEDEDE;
    --purple-purple300: #929BC2;


    --text-text-primary1: var(--basic-black500);
    --text-text-primary2: var(--blue-blue400);
    --text-text-primary3: var(--basic-white500);
    --text-text-secondary1: var(--basic-gray400);
    --text-text-page-heading: var(--blue-blue900);
    --text-text-tab-dim: var(--purple-purple300);
    --surface-surface-primary1: var(--blue-blue400);
    --surface-surface-primary2: var(--blue-blue200);
    --surface-surface-primary3: var(--blue-blue100);
    --surface-surface-primary4: var(--blue-blue900);
    --surface-surface-primary5: var(--basic-white500);
    --surface-suface-bg: var(--blue-blue50);
    --line-line-primary1: var(--basic-gray200);
    --line-line-primary2: var(--blue-blue200);
    --line-line-secondary1: var(--blue-blue400);
    --icon-icon-primary1: var(--basic-black500);
    --icon-icon-primary2: var(--blue-blue400);
    --icon-icon-primary3: var(--blue-blue900);
    --icon-icon-secondary1: var(--basic-white500);
    --icon-icon-secondary2: var(--basic-gray400);
}